## Arquitetura para rodar SQL no Python

In [6]:
#%pip install pysqlite3
import sqlite3

### Criando um banco de dados

In [7]:
conexao = sqlite3.connect('Banco_de_dados')

### Apontar para o banco de dados

In [8]:
cursor =  conexao.cursor()

## Criando uma tabela

In [ ]:
cursor.execute(
    'CREATE TABLE dados_cliente (Data text, Nome text, idade real)'
)

conexao.commit() # Usar apenas quando for criar uma tabela

### Inserindo valores nas tabelas

In [11]:
cursor.execute('INSERT INTO dados_cliente VALUES ("07/05/2022", "Rosana", "27")')

In [12]:
cursor.execute('INSERT INTO dados_cliente VALUES ("07/05/2022", "Raphael", "37")')

In [21]:
import random #Gerando números aleatórios

In [20]:
for i in range(10):
    numero = random.randint(10,20)
    cursor.execute(f'INSERT INTO dados_cliente VALUES ("07/05/2022", "Raphael", {numero})')

### Selecionando tabelas

In [30]:
# Query consulta
consulta = cursor.execute('SELECT * FROM dados_cliente').fetchall() # * seleciona todas as colunas
print(consulta)

[('07/05/2022', 'Rosana', 27.0), ('07/05/2022', 'Raphael', 37.0), ('07/05/2022', 'Raphael', 20.0), ('07/05/2022', 'Raphael', 13.0), ('07/05/2022', 'Raphael', 18.0), ('07/05/2022', 'Raphael', 20.0), ('07/05/2022', 'Raphael', 14.0), ('07/05/2022', 'Raphael', 19.0), ('07/05/2022', 'Raphael', 17.0), ('07/05/2022', 'Raphael', 17.0), ('07/05/2022', 'Raphael', 13.0), ('07/05/2022', 'Raphael', 16.0)]

In [31]:
# Query consulta - Coluna
consulta = cursor.execute('SELECT Nome, idade FROM dados_cliente').fetchall()
for linha in consulta:
    print(linha)

('Rosana', 27.0)
('Raphael', 37.0)
('Raphael', 20.0)
('Raphael', 13.0)
('Raphael', 18.0)
('Raphael', 20.0)
('Raphael', 14.0)
('Raphael', 19.0)
('Raphael', 17.0)
('Raphael', 17.0)
('Raphael', 13.0)
('Raphael', 16.0)

### Where

In [33]:
# Query consulta - where '='
consulta = cursor.execute(
    '''
    SELECT * FROM dados_cliente
    where Nome = "Rosana"
    '''

).fetchall()
for linha in consulta:
    print(linha)

('07/05/2022', 'Rosana', 27.0)

In [34]:
# Query consulta - where '>'
consulta = cursor.execute(
    '''
    SELECT * FROM dados_cliente
    where idade >25
    '''

).fetchall()
for linha in consulta:
    print(linha)

('07/05/2022', 'Rosana', 27.0)
('07/05/2022', 'Raphael', 37.0)

In [35]:
# Query consulta - where '<='
consulta = cursor.execute(
    '''
    SELECT * FROM dados_cliente
    where idade <= 15
    '''

).fetchall()
for linha in consulta:
    print(linha)

('07/05/2022', 'Raphael', 13.0)
('07/05/2022', 'Raphael', 14.0)
('07/05/2022', 'Raphael', 13.0)

In [36]:
# Query consulta - where '<>' Diferente
consulta = cursor.execute(
    '''
    SELECT * FROM dados_cliente
    where Nome <> "Rosana"
    '''

).fetchall()
for linha in consulta:
    print(linha)

('07/05/2022', 'Raphael', 37.0)
('07/05/2022', 'Raphael', 20.0)
('07/05/2022', 'Raphael', 13.0)
('07/05/2022', 'Raphael', 18.0)
('07/05/2022', 'Raphael', 20.0)
('07/05/2022', 'Raphael', 14.0)
('07/05/2022', 'Raphael', 19.0)
('07/05/2022', 'Raphael', 17.0)
('07/05/2022', 'Raphael', 17.0)
('07/05/2022', 'Raphael', 13.0)
('07/05/2022', 'Raphael', 16.0)

### Between

In [38]:
# Query consulta - BETWEEN (Range)
consulta = cursor.execute(
    '''
    SELECT * FROM dados_cliente
    where idade BETWEEN 10 AND 20
    '''

).fetchall()
for linha in consulta:
    print(linha)

('07/05/2022', 'Raphael', 20.0)
('07/05/2022', 'Raphael', 13.0)
('07/05/2022', 'Raphael', 18.0)
('07/05/2022', 'Raphael', 20.0)
('07/05/2022', 'Raphael', 14.0)
('07/05/2022', 'Raphael', 19.0)
('07/05/2022', 'Raphael', 17.0)
('07/05/2022', 'Raphael', 17.0)
('07/05/2022', 'Raphael', 13.0)
('07/05/2022', 'Raphael', 16.0)

### Like